@font-face {
    font-family: "Graphik";
    font-weight: 400;
    src: url("fonts/GraphikRegular.woff") format("woff"),
    url("fonts/GraphikRegular.ttf") format("truetype")
}

@font-face {
    font-family: "Graphik";
    font-weight: 700;
    src: url("fonts/GraphikBold.woff") format("woff"),
    url("fonts/GraphikBold.ttf") format("truetype")
}

@mixin separation {
    width: 50px;
    height: 15px;
}

@mixin color($background) {
    background-color: $background;
}

.sep1 {
    @include separation;
    @include color(#CD2C2E)
}

.sep2 {
    @include separation;
    @include color(#82B864)
}


ul {
    font-family: 'Graphik';
}

img {
  width: 100%;
}

footer {
    a {
        color:white;
        text-decoration: none;
    }
}

.page {
    min-height: 100vh;
    padding: 24px 120px;

        li {
            list-style:none ;
        }

        ol {
            li {
                list-style: decimal;
            }
        }
        
}

.img404 {
    height:50%;
    width: auto;
}